{{#section 'css'}}
<style>
    .type_collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        font-weight: bold;
    }

    .cl_active,
    .type_collapsible:hover {
        background-color: #555;
    }

    .type_collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .cl_active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #000;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    var coll = document.getElementsByClassName("type_collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("cl_active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{{/section}}

<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            {{#each this.lcSpec}}
            <button type="button" class="type_collapsible">{{name}}</button>
            <div class="content">
                <div class="card-body mt-10">
                    <table class="table table-hover table-dark" style="background-color: #000 !important;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 25%;">#</th>
                                <th scope="col" style="width: 25%;">Specification</th>
                                <th scope="col" style="width: 25%;">Icon</th>
                                <th scope="col" style="width: 25%;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each spec}}
                            <tr>
                                <th scope="row">{{spec_id}}</th>
                                <td>{{spec_name}}</td>
                                <td>{{{icon}}}</td>
                                <td class="text-right">
                                    <a name="" id="" class="btn btn-sm btn-outline-warning" title="Edit Category"
                                        style="color: #ff9800 !important; background-color: #000 !important;  border-color:#ff9800 !important;"
                                        href="/admin/specifications/edit?spec_id={{spec_id}}" role="button">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <a class="btn btn-outline-success mt-10"
                        style="background-color: #000 !important; border-color:#ff9800 !important; color: #ff9800 !important; "
                        href="/admin/specifications/add?type_id={{id}}" role="button">
                        <i class="fa fa-plus" aria-hidden="true" style="margin-right: 5px;"></i>
                        Add Specification
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
<footer class="footer mt-30" style="bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="item_f1">
            <a href="about_us.html">About</a>
            <a href="our_blog.html">Blog</a>
            <a href="career.html">Careers</a>
            <a href="press.html">Press</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="item_f1">
            <a href="help.html">Help</a>
            <a href="coming_soon.html">Advertise</a>
            <a href="coming_soon.html">Developers</a>
            <a href="contact_us.html">Contact Us</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="item_f1">
            <a href="terms_of_use.html">Copyright Policy</a>
            <a href="terms_of_use.html">Terms</a>
            <a href="terms_of_use.html">Privacy Policy</a>
            <a href="#">Sitemap</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="item_f3">
            <a href="#" class="btn1542">Teach on Cursus</a>
            <div class="lng_btn">
              <div class="ui language bottom right pointing dropdown floating" id="languages"
                data-content="Select Language">
                <a href="#"><i class='uil uil-globe lft'></i>Language<i class='uil uil-angle-down rgt'></i></a>
                <div class="menu">
                  <div class="scrolling menu">
                    <div class="item" data-percent="100" data-value="en" data-english="English">
                      <span class="description">English</span>
                      English
                    </div>
                    <div class="item" data-percent="94" data-value="da" data-english="Danish">
                      <span class="description">dansk</span>
                      Danish
                    </div>
                    <div class="item" data-percent="94" data-value="es" data-english="Spanish">
                      <span class="description">Español</span>
                      Spanish
                    </div>
                    <div class="item" data-percent="34" data-value="zh" data-english="Chinese">
                      <span class="description">简体中文</span>
                      Chinese
                    </div>
                    <div class="item" data-percent="54" data-value="zh_TW" data-english="Chinese (Taiwan)">
                      <span class="description">中文 (臺灣)</span>
                      Chinese (Taiwan)
                    </div>
                    <div class="item" data-percent="79" data-value="fa" data-english="Persian">
                      <span class="description">پارسی</span>
                      Persian
                    </div>
                    <div class="item" data-percent="41" data-value="fr" data-english="French">
                      <span class="description">Français</span>
                      French
                    </div>
                    <div class="item" data-percent="37" data-value="el" data-english="Greek">
                      <span class="description">ελληνικά</span>
                      Greek
                    </div>
                    <div class="item" data-percent="37" data-value="ru" data-english="Russian">
                      <span class="description">Русский</span>
                      Russian
                    </div>
                    <div class="item" data-percent="36" data-value="de" data-english="German">
                      <span class="description">Deutsch</span>
                      German
                    </div>
                    <div class="item" data-percent="23" data-value="it" data-english="Italian">
                      <span class="description">Italiano</span>
                      Italian
                    </div>
                    <div class="item" data-percent="21" data-value="nl" data-english="Dutch">
                      <span class="description">Nederlands</span>
                      Dutch
                    </div>
                    <div class="item" data-percent="19" data-value="pt_BR" data-english="Portuguese">
                      <span class="description">Português(BR)</span>
                      Portuguese
                    </div>
                    <div class="item" data-percent="17" data-value="id" data-english="Indonesian">
                      <span class="description">Indonesian</span>
                      Indonesian
                    </div>
                    <div class="item" data-percent="12" data-value="lt" data-english="Lithuanian">
                      <span class="description">Lietuvių</span>
                      Lithuanian
                    </div>
                    <div class="item" data-percent="11" data-value="tr" data-english="Turkish">
                      <span class="description">Türkçe</span>
                      Turkish
                    </div>
                    <div class="item" data-percent="10" data-value="kr" data-english="Korean">
                      <span class="description">한국어</span>
                      Korean
                    </div>
                    <div class="item" data-percent="7" data-value="ar" data-english="Arabic">
                      <span class="description">العربية</span>
                      Arabic
                    </div>
                    <div class="item" data-percent="6" data-value="hu" data-english="Hungarian">
                      <span class="description">Magyar</span>
                      Hungarian
                    </div>
                    <div class="item" data-percent="6" data-value="vi" data-english="Vietnamese">
                      <span class="description">tiếng Việt</span>
                      Vietnamese
                    </div>
                    <div class="item" data-percent="5" data-value="sv" data-english="Swedish">
                      <span class="description">svenska</span>
                      Swedish
                    </div>
                    <div class="item" data-precent="4" data-value="pl" data-english="Polish">
                      <span class="description">polski</span>
                      Polish
                    </div>
                    <div class="item" data-percent="6" data-value="ja" data-english="Japanese">
                      <span class="description">日本語</span>
                      Japanese
                    </div>
                    <div class="item" data-percent="0" data-value="ro" data-english="Romanian">
                      <span class="description">românește</span>
                      Romanian
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="footer_bottm">
            <div class="row">
              <div class="col-md-6">
                <ul class="fotb_left">
                  <li>
                    <a href="index.html">
                      <div class="footer_logo">
                        <img src="/images/logo1.svg" alt="">
                      </div>
                    </a>
                  </li>
                  <li>
                    <p>© 2020 <strong>Cursus</strong>. All Rights Reserved.</p>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <div class="edu_social_links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
