
{{#section 'css'}}
    <link href="/css/instructor-dashboard.css" rel="stylesheet">
	<link href="/css/instructor-responsive.css" rel="stylesheet">
    <link href="/css/jquery-steps.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<script src="/vendor/tinymce/tinymce.min.js" ></script>
	<script>tinymce.init({
		selector: 'textarea',
		plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
		toolbar_mode: 'floating',
		tinycomments_mode: 'embedded',
		height: 360,
		branding: false,
		skin: 'cursus_hub',
		setup: function(editor){
			editor.on('change', function(){
				editor.save();
			})
		},
		
		//forced_root_block:false,
		//forced_root_formatting:true,
		//element_format: 'html',
	});
	</script>
{{/section}}
<form method="POST" action="" enctype="multipart/form-data" id="form1" >
<div class="wrapper">
		<div class="sa4d25">
			<div class="container">			
				<div class="row">
					<div class="col-lg-12">	
						<h2 class="st_title"><i class="uil uil-analysis"></i> Create New Course</h2>
					</div>					
				</div>				
				<div class="row">
					<div class="col-12">
						<div class="course_tabs_1">
							<div id="add-course-tab" class="step-app">
								<ul class="step-steps">
									<li class="done">
										<a href="/teacher/create_course">
											<span class="number"></span>
											<span class="step-name">General Information</span>
										</a>
									</li>
									<li class="done">
										<a href="/teacher/add_pic">
											<span class="number"></span>
											<span class="step-name">View</span>
										</a>
									</li>
									<li class="active">
										<a href="/teacher/add_chap">
											<span class="number"></span>
											<span class="step-name">Course Content</span>
										</a>
									</li>
									<li class="">
										<a href="/teacher/finish">
											<span class="number"></span>
											<span class="step-name">Extra Information</span>
										</a>
									</li>
								</ul>
								
								
								<div class="step-content">
									
									<div class="step-tab-panel step-tab-location active" id="tab_step3">
										<div class="tab-from-content">
											<div class="title-icon">
												<h3 class="title"><i class="uil uil-film"></i>Course Content</h3>
											</div>
											<div class="course__form">
												<div class="row">
													<div class="col-lg-12">		
														<div class="extra_info">		
															<h4 class="part__title">Add Chapter</h4>
														</div>
														<div class="view_info10">
															<div class="row">
																<div class="col-lg-4 col-md-12">															
																	<div class="ui search focus mt-30 lbel25">
																		<label>Chapter Title*</label>
																		{{#if check}}
																			<div class="ui left icon input swdh19">
																				<input class="prompt srch_explore" type="text" placeholder="Insert your chapter title." name="title_chapter" data-purpose="edit-course-title" maxlength="60" id="lecture[title]" value="{{chapter.chap_name}}">															
																			</div>
																		{{else}}
																			<div class="ui left icon input swdh19">
																				<input class="prompt srch_explore" type="text" placeholder="Insert your chapter title." name="title_chapter" data-purpose="edit-course-title" maxlength="60" id="lecture[title]" value="">															
																			</div>
																		{{/if}}
																		
																	</div>									
																</div>
																<div class="col-lg-4 col-md-6">
																	<div class="part_input mt-30 lbel25">
																		<label>File*</label>
																		<div class="input-group">
																			<div class="custom-file">
																				<input type="file" class="custom-file-input" id="inputGroupFile06" name="inputGroupFile06">
																				<label class="custom-file-label" for="inputGroupFile06">No Choose file - (Video format)</label>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-lg-4 col-md-12">															
																	<div class="ui search focus mt-30 lbel25">
																		<label>Chapter Number*</label>
																		{{#if check}}
																			<div class="ui left icon input swdh19">
																				<input class="prompt srch_explore hacker" type="text" placeholder="Insert your chapter number." name="Chapter_number" data-purpose="edit-course-title" maxlength="60" id="chapter_number" value="{{chapter.chap_num}}">															
																			</div>
																		{{else}}
																		<div class="ui left icon input swdh19">
																			<input class="prompt srch_explore hacker" type="text" placeholder="Insert your chapter number." name="Chapter_number" data-purpose="edit-course-title" maxlength="60" id="chapter_number" value="">															
																		</div>
																		{{/if}}
																	</div>									
																</div>
																<div class="col-lg-12 col-md-12">	
																	<div class="course_des_textarea mt-30 lbel25">
																		<label>Description*</label>
																		<div class="course_des_bg">
																			<div class="textarea_dt">															
																				<div class="ui form swdh339">
																					{{#if check}} 
																						<div class="field">
																							<textarea rows="5" name="description_chapter" id="id_part_description" placeholder="Insert your course part description">{{chapter.chap_des}}</textarea>
																						</div>
																					{{else}}
																						<div class="field">
																							<textarea rows="5" name="description_chapter" id="id_part_description" placeholder="Insert your course part description"></textarea>
																						</div>
																					{{/if}}
																					
																				</div>										
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-lg-2 col-md-12">
																	<button class="part_btn_save prt-sv" type="button"  onclick="formsubmit()">Save Chapter</button>
																</div>
																<div class="col-lg-12 col-md-12">
																	<div class="table-responsive mt-50 mb-0">
																		<table class="table ucp-table">
																			<thead class="thead-s">
																				<tr>
																					<th class="text-center" scope="col">Chapter</th>
																					<th class="cell-ta">Title</th>
																					<th class="text-center" scope="col">File</th>
																					<th class="text-center" scope="col">Controls</th>
																				</tr>
																			</thead>
																			<tbody>
																				{{#each this.course}}
																				<tr>
																					<td class="text-center">{{chap_num}}</td>
																					<td class="cell-ta">{{chap_name}}</td>
																					<td class="text-center"><a href="#">Video</a></td>
																					<td class="text-center">
																						<a title="Edit" class="gray-s" onclick="formsubmitz({{chap_num}})"><i class="uil uil-edit-alt"></i></a>
																						<a title="Delete" class="gray-s" onclick="deletez({{chap_num}})"><i class="uil uil-trash-alt"></i></a>
																					</td>
																				</tr>
																				{{/each}}
																			</tbody>
																		</table>
																	</div>
																</div>
																<input type="hidden" name="checker" tabindex="0" class="bulldog" value="false">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

									
								
								
								<div class="step-footer step-tab-pager">
                                    <button data-direction="prev" class="btn btn-default steps_btn" style=""><a href="/teacher/add_pic">PREVIOUS</a></button>
									<button data-direction="next" class="btn btn-default steps_btn" style=""><a href="/teacher/finish">Next</a></button>
								
								</div>
								
							</div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		    <footer class="footer mt-40">
        <div class="container-fluid">
          <div class="row">					
            <div class="col-lg-12">
              <div class="item_f1">
                <a href="terms_of_use.html">Copyright Policy</a>
                <a href="terms_of_use.html">Terms</a>
                <a href="terms_of_use.html">Privacy Policy</a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="footer_bottm">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="fotb_left">
                      <li>
                        <a href="index.html">
                          <div class="footer_logo">
                            <img src="images/logo1.svg" alt="">
                          </div>
                        </a>
                      </li>
                      <li>
                        <p>© 2020 <strong>Cursus</strong>. All Rights Reserved.</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <div class="edu_social_links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                      <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
	</div>
</form>


{{#section 'js'}}
<script src="/js/jquery-steps.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/locales/vi.min.js"></script>

<script>
	
	
	
	function formsubmit(){
		var tilte = $('#lecture[title]').val();
		var chap_num = $('#chapter_number').val();
		var ext_name = getname('inputGroupFile06');
		ext_name = ext_name.substr(ext_name.lastIndexOf('.') + 1);
		if (tilte == "" || chap_num =="" || ext_name!="mp4"){
			Swal.fire({
                        icon: 'error',
                        title: 'Empty input!',
                        showConfirmButton: true,
                        timer: 2000,
                        timerProgressBar: true,
                    })
		}
		else {
			document.getElementById("form1").submit();
		}
		
	}

	function formsubmitz(chap_num){
		$('.bulldog').attr('value', chap_num);
		$('#form1').attr('enctype', '');
		document.getElementById("form1").submit();
	}
	
	
</script>

<script>
	function deletez(chap_num){
		$('.bulldog').attr('value', chap_num);
		$('#form1').attr('enctype', '');
		$('.hacker').attr('value', 'delete');
		document.getElementById("form1").submit();
	}
</script>

<script>
	function getname(idz){
		var fullPath = document.getElementById(idz).value;
		if (fullPath) {
			var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
			var filename = fullPath.substring(startIndex);
			if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
				filename = filename.substring(1);
			}
			$("label[for=inputGroupFile06]").html(filename);
			return filename;
		}
		return "";
	}

	$("#inputGroupFile06").change(function() {
		getname('inputGroupFile06');
	});
</script>
{{/section}}