<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-8">
                    <div class="section3125">
                        <div class="explore_search">
                            <div class="ui search focus">
                                <div class="ui left icon input swdh11">
                                    <input class="prompt srch_explore" type="text"
                                        placeholder="Search for Tuts Videos, Tutors, Tests and more..">
                                    <i class="uil uil-search-alt icon icon2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="_14d25">
                        <div class="row">
                            {{#each this.course}}
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="/courses/detail/{{course_id}}" class="fcrse_img">
                                        <img style="height: 200px;" src="{{link_ava_course}}" alt="">
                                        <div class="course-overlay">

                                            {{#if discount}}
                                            <div class="badge_seller" style="font-size: 15pt;"> <i
                                                    class="fas fa-tags"></i> {{discount}}%
                                            </div>
                                            {{/if}}
                                            <div class="crse_reviews">
                                                <i class="fas fa-star"></i>{{format_number rating}}
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Save</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">{{view_number}} views</span>
                                            <span class="vdt14">{{rateStu}} ratings</span>
                                            <span class="vdt14">{{day_ago}} days ago</span>
                                        </div>
                                        <a href="/courses/detail/{{course_id}}" class="crse14s"
                                            style="height: 50px;">{{name}}</a>
                                        <a href="#" class="crse-cate">{{type_name}} | {{spec_name}}</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">{{fname}} {{lname}}</a></p>
                                            {{#if discount}}
                                            <div class="prce142">
                                                <span
                                                    style="color:darkgrey ;text-decoration: line-through; font-size:12pt;">${{price}}
                                                    <i class="fas fa-long-arrow-alt-right"> </i></span>
                                                <span> ${{newprice}}</span>
                                            </div>
                                            {{else}}
                                            <div class="prce142">${{price}}</div>
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>