{{#section 'js'}}
<script>
    $('#buybutton').on('click', function (e) {
        e.preventDefault();
        const coursename = $('#course_name').text();
        const courseid = $('#course_id').text();
        $.getJSON(`/student/is-not-added?courseid=${courseid}`, function (data) {
            if (data === true) {
                if (confirm("Are you sure to buy " + coursename + " ?")) {
                  $('#frmRegister').submit();
                }
            } else {
                $('#buyingalert').text("*You have already bought this course.").css('color', '#ff9800').css('font-weight', 'bold');
            }
        })
    });
</script>
{{/section}}

{{#with this.course}}

<!-- Video Model Start -->
<div class="modal vd_mdl fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <iframe src="https://www.youtube.com/embed/Ohe_JzKksvA"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>
<!-- Video Model End -->

<!-- Body Start -->
<div class="wrapper _bg4586">
  <div class="_215b01">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="section3125">
            <div class="row justify-content-center">
              <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="preview_video">
                  <a href="#" class="fcrse_img" data-toggle="modal" data-target="#videoModal">
                    <img src="{{link_ava_course}}" alt="">
                    <div class="course-overlay">
                      {{#if discount}}
                      <div class="badge_seller" style="font-size: 15pt;"> <i class="fas fa-tags"></i> {{discount}}%
                      </div>
                      {{/if}}
                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                      {{!-- <span class="_215b02">Preview this course</span> --}}
                    </div>
                  </a>
                </div>
                <div class="_215b10">
                  {{!-- <a href="#" class="_215b11">
                    <span><i class='uil uil-heart-alt'></i></span>Wishlist
                  </a> --}}
                  <a href="#" class="_215b12">
                    <span><i class="uil uil-windsock"></i></span>Report abuse<span id="course_id"> {{course_id}}</span>
                  </a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7 col-md-6">
                <div class="_215b03">
                  <h2 id="course_name">{{name}}</h2>
                  <span class="_215b04">{{short_info}}</span>
                </div>
                <div class="_215b05">
                  <div class="crse_reviews mr-2">
                    <i class="fas fa-star"></i>{{format_number rating}}
                  </div>
                  ({{rateStu}} ratings)
                </div>
                <div class="_215b05">
                  <i class="fas fa-user-graduate"></i>
                  {{numberStu}} students enrolled
                </div>
                <div class="_215b05">
                  <i class="fas fa-edit"></i>
                  Last updated {{format_date last_modify}}
                </div>
                <div class="_215b05">
                  {{#if discount}}
                  <span style="font-size: 24pt;"> ${{newprice}}</span>
                  <span style="color:darkgrey ;text-decoration: line-through; font-size:12pt;"> ${{price}} <i
                      class="fas fa-long-arrow-alt-down"></i> </span>
                  {{else}}
                  <div style="font-size: 24pt;"> ${{price}} </div>
                  {{/if}}
                </div>
                <ul class="_215b31">
                  {{#if ../isAdmin}}
                  <li><a href="/"><button class="btn_adcart" id="remove">Remove this course</button></a></li>
                  {{else}}
                  <li><a href="/student/watchlist/add?courseid={{course_id}}"><button class="btn_adcart">Add to Watch
                        List</button></a>
                  </li>
                  <li><form id="frmRegister" method="POST" action="/student/registeredcourses/add?courseid={{course_id}}"><button class="btn_buy" type="submit" id="buybutton">Buy Now</button></form></li>
                  {{/if}}
                </ul>
                {{#if ../isAdmin}}
                {{else}}
                
                <div class="_215fgt1" id="buyingalert">
                  
                </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215b15 _byt1458">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="user_dt5">
            <div class="user_dt_left">
              <div class="live_user_dt">
                <div class="user_img5">
                  <a href="#"><img src="{{link_ava_teacher}}" alt=""></a>
                </div>
                <div class="user_cntnt">
                  <a href="#" class="_df7852" style="height: 10px; margin-top: 5px;">{{fname}} {{lname}}</a>
                  <span style="color: darkgrey;">Contact: {{email}}</span>
                </div>
              </div>
            </div>
            <div class="user_dt_right">
              <ul class="tutor_social_links">
                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="course_tabs">
            <nav>
              <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                  aria-selected="true">About</a>
                <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses" role="tab"
                  aria-selected="false">Courses Content</a>
                <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab"
                  aria-selected="false">Reviews</a>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
  {{/with}}

  <div class="_215b17">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="course_tab_content">
            <div class="tab-content" id="nav-tabContent">

              {{!-- about --}}

              <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                <div class="_htg451">
                  {{this.full_info}}
                </div>
              </div>

              {{!-- courses content --}}

              <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                <div class="crse_content">
                  <h3>Course content</h3>
                  <div class="_112456">
                    <ul class="accordion-expand-holder">
                      <li><span class="accordion-expand-all _d1452">Expand all</span></li>
                      <li><span class="_fgr123"> 402 lectures</span></li>
                      <li><span class="_fgr123">47:06:29</span></li>
                    </ul>
                  </div>

                  <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
                    {{#each this.chapter}}
                    <a href="javascript:void(0)"
                      class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                      <div class="section-header-left">
                        <span class="section-title-wrapper">
                          <i class='uil uil-presentation-play crse_icon'></i>
                          <span class="section-title-text">{{chap_name}}</span>
                        </span>
                      </div>
                      <div class="section-header-right">
                        <span class="section-header-length">22:08</span>
                      </div>
                    </a>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">

                      <div class="lecture-container">
                        <div class="left-content">
                          <i class='uil uil-file icon_142'></i>
                          <div class="top">
                            <a href="{{link_vid}}">video</a>
                          </div>
                        </div>

                      </div>
                    </div>
                    {{/each}}
                    {{!-- <a class="btn1458" href="#">20 More Sections</a> --}}
                  </div>
                </div>

                {{!-- review --}}


              </div>

              {{!-- courses review --}}
              <div class="tab-pane fade" id="nav-reviews" role="tabpanel">
                <div class="student_reviews">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="reviews_left">
                        <h3>Student Feedback</h3>
                        <div class="total_rating">
                          <div class="_rate001">4.6</div>
                          <div class="rating-box">
                            <span class="rating-star full-star"></span>
                            <span class="rating-star full-star"></span>
                            <span class="rating-star full-star"></span>
                            <span class="rating-star full-star"></span>
                            <span class="rating-star half-star"></span>
                          </div>
                          <div class="_rate002">Course Rating</div>
                        </div>
                        <div class="_rate003">
                          <div class="_rate004">
                            <div class="progress progress1">
                              <div class="progress-bar w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            <div class="rating-box">
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                            </div>
                            <div class="_rate002">70%</div>
                          </div>
                          <div class="_rate004">
                            <div class="progress progress1">
                              <div class="progress-bar w-30" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            <div class="rating-box">
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star empty-star"></span>
                            </div>
                            <div class="_rate002">40%</div>
                          </div>
                          <div class="_rate004">
                            <div class="progress progress1">
                              <div class="progress-bar w-5" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            <div class="rating-box">
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star empty-star"></span>
                              <span class="rating-star empty-star"></span>
                            </div>
                            <div class="_rate002">5%</div>
                          </div>
                          <div class="_rate004">
                            <div class="progress progress1">
                              <div class="progress-bar w-2" role="progressbar" aria-valuenow="2" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            <div class="rating-box">
                              <span class="rating-star full-star"></span>
                              <span class="rating-star full-star"></span>
                              <span class="rating-star empty-star"></span>
                              <span class="rating-star empty-star"></span>
                              <span class="rating-star empty-star"></span>
                            </div>
                            <div class="_rate002">1%</div>
                          </div>
                          <div class="_rate004">
                            <div class="progress progress1">
                              <div class="progress-bar w-1" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            <div class="rating-box">
                              <span class="rating-star full-star"></span>
                              <span class="rating-star empty-star"></span>
                              <span class="rating-star empty-star"></span>
                              <span class="rating-star empty-star"></span>
                              <span class="rating-star empty-star"></span>
                            </div>
                            <div class="_rate002">1%</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="review_right">
                        <div class="review_right_heading">
                          <h3>Reviews</h3>
                          <div class="review_search">
                            <input class="rv_srch" type="text" placeholder="Search reviews...">
                            <button class="rvsrch_btn"><i class='uil uil-search'></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="review_all120">

                        {{#each this.review}}
                        <div class="review_item">
                          <div class="review_usr_dt">
                            <img src="{{link_ava_student}}" alt="">
                            <div class="rv1458">
                              <h4 class="tutor_name1">{{fname}} {{lname}}</h4>
                              <span class="time_145">{{format_date_diff comment_date}}</span>
                            </div>
                          </div>
                          <div class="rating-box mt-20">
                            <span class="rating-star full-star"></span>
                            <span class="rating-star full-star"></span>
                            <span class="rating-star full-star"></span>
                            <span class="rating-star full-star"></span>
                            <span class="rating-star half-star"></span>
                          </div>
                          <p class="rvds10">{{comment}}</p>
                          <div class="rpt100">
                            <span>Was this review helpful?</span>
                            <div class="radio--group-inline-container">
                              <div class="radio-item">
                                <input id="radio-1" name="radio" type="radio">
                                <label for="radio-1" class="radio-label">Yes</label>
                              </div>
                              <div class="radio-item">
                                <input id="radio-2" name="radio" type="radio">
                                <label for="radio-2" class="radio-label">No</label>
                              </div>
                            </div>
                            <a href="#" class="report145">Report</a>
                          </div>
                        </div>
                        {{/each}}

                        <div class="review_item">
                          <a href="#" class="more_reviews">See More Reviews</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>



</div>

<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      {{!-- Top 5 highlighted courses (rate cao nhất) --}}

      <div class="section3125 mt-35">
        <h4 class="item_title">Bestseller in {{this.spec_name}}</h4>
        <a href="#" class="see150">See all</a>
        <div class="la5lo1">
          <div class="owl-carousel featured_courses owl-theme">

            {{!-- Mẫu courses --}}

            {{#each this.register}}
            <div class="item">
              <div class="fcrse_1 mb-20">
                <a href="/courses/detail/{{course_id}}" class="fcrse_img">
                  <img style="height: 250px;" src="{{link_ava_course}}" alt="">
                  <div class="course-overlay">

                    {{#if discount}}
                    <div class="badge_seller" style="font-size: 15pt;"> <i class="fas fa-tags"></i> {{discount}}%
                    </div>
                    {{/if}}
                    <div class="crse_reviews">
                      <i class="fas fa-star"></i>{{format_number rating}}
                    </div>
                    <span class="play_btn1"><i class="uil uil-play"></i></span>
                  </div>
                </a>
                <div class="fcrse_content">
                  <div class="eps_dots more_dropdown">
                    <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                    <div class="dropdown-content">
                      <span><i class='uil uil-share-alt'></i>Share</span>
                      <span><i class="uil uil-clock-three"></i>Save</span>
                      <span><i class='uil uil-ban'></i>Not Interested</span>
                      <span><i class="uil uil-windsock"></i>Report</span>
                    </div>
                  </div>
                  <div class="vdtodt">
                    <span class="vdt14">{{view_number}} views</span>
                    <span class="vdt14">{{rateStu}} ratings</span>
                    <span class="vdt14">{{day_ago}} days ago</span>
                  </div>
                  <a href="/courses/detail/{{course_id}}" class="crse14s" style="height: 50px;">{{name}}</a>
                  <a href="#" class="crse-cate">{{type_name}} | {{spec_name}}</a>
                  <div class="auth1lnkprce">
                    <p class="cr1fot">By <a href="#">{{fname}} {{lname}}</a></p>
                    {{#if discount}}
                    <div class="prce142">
                      <span style="color:darkgrey ;text-decoration: line-through; font-size:12pt;">${{price}} <i
                          class="fas fa-long-arrow-alt-right"> </i></span>
                      <span> ${{newprice}}</span>
                    </div>
                    {{else}}
                    <div class="prce142">${{price}}</div>
                    {{/if}}

                  </div>
                </div>
              </div>
            </div>
            {{/each}}


            {{!-- --}}

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Body End -->
