{{#section 'js'}}
<script>
    $('#del').on('click', function (e) {

        e.preventDefault();

        const spec_id = $('#spec_id').val();


        $.getJSON(`/admin/specifications/is-delete-able?spec_id=${spec_id}`, function (data) {
            console.log(data);
            if (data === true) {
                $('#frmEdit').attr('action', '/admin/specifications/del');
                $('#frmEdit').submit();

            } else {
                alert('This specification still had one or more course(s).');
            }
        });
    });
</script>
{{/section}}

<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">

            <form id="frmEdit" method="POST" action="">
                <div class="card">
                    <div class="card-header">
                        <h4>{{this.spec.type_name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtCatID">Type#</label>
                            <input type="text" class="form-control" id="type_id" name="type_id" readonly
                                value="{{this.spec.type_id}}">
                        </div>
                        <div class="form-group">
                            <label for="txtCatID">Spec#</label>
                            <input type="text" class="form-control" id="spec_id" name="spec_id" readonly
                                value="{{this.spec.spec_id}}">
                        </div>
                        <div class="form-group">
                            <label for="txtCatName">Specification</label>
                            <input type="text" class="form-control" id="spec_name" name="spec_name" autofocus
                                value="{{this.spec.spec_name}}">
                        </div>
                        <div class="form-group">
                            <label for="txtCatName">Icon</label>
                            <input type="text" class="form-control" id="icon" name="icon" value="{{this.spec.icon}}">
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="/admin/specifications" role="button">
                            <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px;"></i>
                            Back to List
                        </a>
                        <button class="btn btn-danger" id="del" type="submit">
                            <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px;"></i>
                            Delete
                        </button>
                        <button class="btn btn-success" id="save" type="submit"
                            formaction="/admin/specifications/patch">
                            <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i>
                            Save
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
