<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">

            <form id="frmEdit" method="POST" action="">
                <div class="card">
                    <div class="card-header">
                        {{#if this.isStudent}}
                        <h4>Student</h4>
                        {{else}}
                        <h4>Teacher</h4>
                        {{/if}}
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtCatID">Mode</label>
                            <input type="text" class="form-control" id="mode" name="mode" readonly
                                value="{{this.info.mode}}">
                        </div>
                        <div class="form-group">
                            <label for="txtCatName">First name</label>
                            <input type="text" class="form-control" id="fname" name="fname" autofocus
                                value="{{this.info.fname}}">
                        </div>
                        <div class="form-group">
                            <label for="txtCatName">Last name</label>
                            <input type="text" class="form-control" id="lname" name="lname" value="{{this.info.lname}}">
                        </div>
                        {{#if this.isStudent}}
                        <div class="form-group">
                            <label for="txtCatName">Link avatar</label>
                            <input type="text" class="form-control" id="link_ava_student" name="link_ava_student"
                                value="{{this.info.link_ava_student}}">
                        </div>
                        {{else}}
                        <div class="form-group">
                            <label for="txtCatName">Link avatar</label>
                            <input type="text" class="form-control" id="link_ava_teacher" name="link_ava_teacher"
                                value="{{this.info.link_ava_teacher}}">
                        </div>
                        <div class="form-group">
                            <label for="txtCatName">Info</label>
                            <input type="text" class="form-control" id="info" name="info" value="{{this.info.info}}">
                        </div>
                        {{/if}}
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary mt-10"
                            style="background-color: #000 !important; border-color:#ff9800 !important; color: #ff9800 !important; margin-right: 10px;"
                            href="/admin/accounts" role="button">
                            <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px;"></i>
                            Back to List
                        </a>
                        <button class="btn btn-outline-danger mt-10" id="del" type="submit" style="margin-right: 10px;">
                            <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 5px;"></i>
                            Delete
                        </button>
                        <button class="btn btn-outline-primary mt-10" id="save" type="submit"
                            formaction="/admin/accounts/patch" style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Password
                        </button>
                        <button class="btn btn-outline-success mt-10" id="save" type="submit"
                            formaction="/admin/accounts/patch" style="margin-right: 10px;">
                            <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i>
                            Save
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
