{{#section 'css'}}
<style>
    .mr-20 {
        margin-right: 20px;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    $('#save').on('click', function (e) {

        e.preventDefault();
        
        const email = $('#email').val();

        {{#if this.isStudent}}
        $.getJSON(`/student/info/is-email-available?email=${email}`, function (data)
        {{else if this.isTeacher}}
        $.getJSON(`/teacher/info/is-email-available?email=${email}`, function (data)
        {{/if}}
        {
        if(!email.includes("@")){
            $('#emailalert').text("*Invalid email.").css('color', '#ff9800').css('font-weight', 'bold');
        }
        else if (data === true) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger mr-20'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    const spec_id = $('#spec_id').val();
                    Swal.fire({
                        icon: 'success',
                        title: 'Change Password successfully!',
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer || result.dismiss === Swal.DismissReason.backdrop) {
                            {{#if this.isStudent}}
                            $('#frmEdit').attr('action', '/student/info/patch');
                            {{else}}
                            $('#frmEdit').attr('action', '/teacher/info/patch');
                            {{/if}}
                            $('#frmEdit').submit();
                        }
                    })
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Cancel!',
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: true,
                    })
                    setTimeout(function(){location.reload();}, 1000);
                }
            })
        } else {
            $('#emailalert').text("*The email has been used by another user. Please try another one.").css('color', '#ff9800').css('font-weight', 'bold');
        }
        });
    });    

</script>
{{/section}}


<div class="wrapper">
        <div class="course__form" style="margin: 0px 30px 0px 30px !important; border-radius: 10px;">

            <form id="frmEdit" method="POST" action="">
                <div class="card-view_info10">
                    <div class="card-header">
                        {{#if this.isStudent}}
                        <h4 id="title">Student Info</h4>
                        {{else}}
                        <h4 id="title">Teacher Info</h4>
                        {{/if}}
                    </div>

                    <div class="card-body">

                        <div class="ui search focus ">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    ID
                                </div>
                                {{#if this.isStudent}}
                                <input class="prompt srch_explore" type="text" id="student_id" name="student_id"
                                    readonly value="{{authUser.student_id}}">
                                {{else}}
                                <input class="prompt srch_explore" type="text" id="teacher_id" name="teacher_id"
                                    readonly value="{{authUser.teacher_id}}">
                                {{/if}}
                            </div>
                        </div>

                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    First name
                                </div>
                                <input class="prompt srch_explore" type="text" id="fname" name="fname" required
                                    value="{{authUser.fname}}">
                            </div>
                        </div>

                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Last name
                                </div>
                                <input class="prompt srch_explore" type="text" id="lname" name="lname" required
                                    value="{{authUser.lname}}">
                            </div>
                        </div>

                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Email
                                </div>
                                <input class="prompt srch_explore" type="text" id="email" name="email"
                                    value="{{authUser.email}}">
                            </div>
                        </div>
                        <div id="emailalert" style="margin-left: 130px; margin-top:10px;"></div>
                        {{#if this.isStudent}}
                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Link avatar
                                </div>
                                <input class="prompt srch_explore" type="text" id="link_ava_student"
                                    name="link_ava_student" readonly required value="{{authUser.link_ava_student}}">
                            </div>
                        </div>

                        {{else}}
                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Link avatar
                                </div>
                                <input class="prompt srch_explore" type="text" id="link_ava_teacher"
                                    name="link_ava_teacher" readonly required value="{{authUser.link_ava_teacher}}">
                            </div>
                        </div>

                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Info
                                </div>
                                <input class=" prompt srch_explore" type="text" id="info" name="info" required
                                    value="{{authUser.info}}">
                            </div>
                        </div>
                        {{/if}}


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mt-10"
                            style="background-color: #000 !important; border-color:#ff9800 !important; color: #ff9800 !important; margin-right: 10px;"
                            href="/" role="button">
                            <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px;"></i>
                            Back to Home
                        </button>
                        {{#if this.isStudent}}
                        <a class="btn btn-outline-primary mt-10 ml-2"
                            href="/student/info/password" role="button"
                            style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Password
                        </a>
                        <a class="btn btn-outline-primary mt-10 ml-2"
                            href="/student/info/avatar" role="button"
                            style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Avatar
                        </a>
                        <button class="btn btn-outline-success mt-10 ml-2" id="save" type="submit"
                            formaction="/student/info/patch" style="margin-right: 10px;">
                            <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i>
                            Save
                        </button>
                        {{else}}
                        <a class="btn btn-outline-primary mt-10 ml-2"
                            href="/teacher/info/password" role="button" type="button"
                            style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Password
                        </a>
                        <a class="btn btn-outline-primary mt-10 ml-2"
                            href="/teacher/info/avatar" role="button"
                            style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Avatar
                        </a>
                        <button class="btn btn-outline-success mt-10 ml-2" id="save" type="submit"
                            formaction="/teacher/info/patch" style="margin-right: 10px;">
                            <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i>
                            Save
                        </button>
                        {{/if}}
                    </div>
                </div>
            </form>

        </div>
</div>
