{{#section 'css'}}
<style>
    .mr-20 {
        margin-right: 20px;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    $('#save').on('click', function (e) {

        e.preventDefault();

        const email = $('#email').val();

        {{#if this.isStudent }}
        $.getJSON(`/student/info/is-email-available?email=${email}`, function (data) 
        {{else if this.isTeacher}}
        $.getJSON(`/teacher/info/is-email-available?email=${email}`, function (data) 
        {{/if}}
                {
                    if (!email.includes("@")) {
                        $('#emailalert').text("*Invalid email.").css('color', '#ff9800').css('font-weight', 'bold');
                    }
                    else if (data === true) {
                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                                confirmButton: 'btn btn-success',
                                cancelButton: 'btn btn-danger mr-20'
                            },
                            buttonsStyling: false
                        })

                        swalWithBootstrapButtons.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes',
                            cancelButtonText: 'No',
                            reverseButtons: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                const spec_id = $('#spec_id').val();
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Change Profile successfully!',
                                    showConfirmButton: false,
                                    timer: 1500,
                                    timerProgressBar: true,
                                }).then((result) => {
                                    /* Read more about handling dismissals below */
                                    if (result.dismiss === Swal.DismissReason.timer || result.dismiss === Swal.DismissReason.backdrop) {
                                        {{#if this.isStudent }}
                                        $('#frmEdit').attr('action', '/student/info/patch');
                                        {{else }}
                                        $('#frmEdit').attr('action', '/teacher/info/patch');
                                        {{/if}}
                                        $('#frmEdit').submit();
                                            }
                                        })
                            }
                            else if (result.dismiss === Swal.DismissReason.cancel) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Cancel!',
                                    showConfirmButton: false,
                                    timer: 1000,
                                    timerProgressBar: true,
                                })
                                setTimeout(function () { location.reload(); }, 1000);
                            }
                        })
                    } else {
                        $('#emailalert').text("*The email has been used by another user. Please try another one.").css('color', '#ff9800').css('font-weight', 'bold');
                    }
                });
    });

</script>
{{/section}}


<div class="wrapper">
    <div class="course__form" style="margin: 0px 30px 0px 30px !important; border-radius: 10px;">

        <form id="frmEdit" method="POST" action="">
            <div class="card-view_info10">
                <div class="card-header">
                    {{#if this.isStudent}}
                    <h4 id="title">Student Info</h4>
                    {{else}}
                    <h4 id="title">Teacher Info</h4>
                    {{/if}}
                </div>

                <div class="card-body">

                    <div class="ui search focus ">
                        <div class="ui left icon labeled input swdh11 swdh31">
                            <div class="ui label lb12" style="width: 115px; text-align: center;">
                                ID
                            </div>
                            {{#if this.isStudent}}
                            <input class="prompt srch_explore" type="text" id="student_id" name="student_id" readonly
                                value="{{authUser.student_id}}">
                            {{else}}
                            <input class="prompt srch_explore" type="text" id="teacher_id" name="teacher_id" readonly
                                value="{{authUser.teacher_id}}">
                            {{/if}}
                        </div>
                    </div>

                    <div class="ui search focus mt-30">
                        <div class="ui left icon labeled input swdh11 swdh31">
                            <div class="ui label lb12" style="width: 115px; text-align: center;">
                                First name
                            </div>
                            <input class="prompt srch_explore" type="text" id="fname" name="fname" required
                                value="{{authUser.fname}}">
                        </div>
                    </div>

                    <div class="ui search focus mt-30">
                        <div class="ui left icon labeled input swdh11 swdh31">
                            <div class="ui label lb12" style="width: 115px; text-align: center;">
                                Last name
                            </div>
                            <input class="prompt srch_explore" type="text" id="lname" name="lname" required
                                value="{{authUser.lname}}">
                        </div>
                    </div>

                    <div class="ui search focus mt-30">
                        <div class="ui left icon labeled input swdh11 swdh31">
                            <div class="ui label lb12" style="width: 115px; text-align: center;">
                                Email
                            </div>
                            <input class="prompt srch_explore" type="text" id="email" name="email"
                                value="{{authUser.email}}">
                        </div>
                        <div id="emailalert" style="margin-left: 130px; margin-top:10px;"></div>
                        {{#if this.isStudent}}
                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Link avatar
                                </div>
                                <input class="prompt srch_explore" type="text" id="link_ava_student"
                                    name="link_ava_student" readonly required value="{{authUser.link_ava_student}}">
                            </div>
                        </div>

                        {{else}}
                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Link avatar
                                </div>
                                <input class="prompt srch_explore" type="text" id="link_ava_teacher"
                                    name="link_ava_teacher" readonly required value="{{authUser.link_ava_teacher}}">
                            </div>
                        </div>

                        <div class="ui search focus mt-30">
                            <div class="ui left icon labeled input swdh11 swdh31">
                                <div class="ui label lb12" style="width: 115px; text-align: center;">
                                    Info
                                </div>
                                <input class=" prompt srch_explore" type="text" id="info" name="info" required
                                    value="{{authUser.info}}">
                            </div>
                        </div>
                        {{/if}}


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mt-10"
                            style="background-color: #000 !important; border-color:#ff9800 !important; color: #ff9800 !important; margin-right: 10px;"
                            href="/" role="button">
                            <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px;"></i>
                            Back to Home
                        </button>
                        {{#if this.isStudent}}
                        <a class="btn btn-outline-primary mt-10 ml-2" href="/student/info/password" role="button"
                            style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Password
                        </a>
                        <a class="btn btn-outline-primary mt-10 ml-2" href="/student/info/avatar" role="button"
                            style="margin-right: 10px;">
                            <i class="fas fa-user" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Avatar
                        </a>
                        <button class="btn btn-outline-success mt-10 ml-2" id="save" type="submit"
                            formaction="/student/info/patch" style="margin-right: 10px;">
                            <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i>
                            Save
                        </button>
                        {{else}}
                        <a class="btn btn-outline-primary mt-10 ml-2" href="/teacher/info/password" role="button"
                            type="button" style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Password
                        </a>
                        <a class="btn btn-outline-primary mt-10 ml-2" href="/teacher/info/avatar" role="button"
                            style="margin-right: 10px;">
                            <i class="fa fa-key" aria-hidden="true" style="margin-right: 5px;"></i>
                            Change Avatar
                        </a>
                        <button class="btn btn-outline-success mt-10 ml-2" id="save" type="submit"
                            formaction="/teacher/info/patch" style="margin-right: 10px;">
                            <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i>
                            Save
                        </button>
                        {{/if}}
                    </div>
                </div>
        </form>

    </div>
    <footer class="footer mt-30" style="bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f1">
                        <a href="about_us.html">About</a>
                        <a href="our_blog.html">Blog</a>
                        <a href="career.html">Careers</a>
                        <a href="press.html">Press</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f1">
                        <a href="help.html">Help</a>
                        <a href="coming_soon.html">Advertise</a>
                        <a href="coming_soon.html">Developers</a>
                        <a href="contact_us.html">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f1">
                        <a href="terms_of_use.html">Copyright Policy</a>
                        <a href="terms_of_use.html">Terms</a>
                        <a href="terms_of_use.html">Privacy Policy</a>
                        <a href="#">Sitemap</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="item_f3">
                        <a href="#" class="btn1542">Teach on Cursus</a>
                        <div class="lng_btn">
                            <div class="ui language bottom right pointing dropdown floating" id="languages"
                                data-content="Select Language">
                                <a href="#"><i class='uil uil-globe lft'></i>Language<i
                                        class='uil uil-angle-down rgt'></i></a>
                                <div class="menu">
                                    <div class="scrolling menu">
                                        <div class="item" data-percent="100" data-value="en" data-english="English">
                                            <span class="description">English</span>
                                            English
                                        </div>
                                        <div class="item" data-percent="94" data-value="da" data-english="Danish">
                                            <span class="description">dansk</span>
                                            Danish
                                        </div>
                                        <div class="item" data-percent="94" data-value="es" data-english="Spanish">
                                            <span class="description">Español</span>
                                            Spanish
                                        </div>
                                        <div class="item" data-percent="34" data-value="zh" data-english="Chinese">
                                            <span class="description">简体中文</span>
                                            Chinese
                                        </div>
                                        <div class="item" data-percent="54" data-value="zh_TW"
                                            data-english="Chinese (Taiwan)">
                                            <span class="description">中文 (臺灣)</span>
                                            Chinese (Taiwan)
                                        </div>
                                        <div class="item" data-percent="79" data-value="fa" data-english="Persian">
                                            <span class="description">پارسی</span>
                                            Persian
                                        </div>
                                        <div class="item" data-percent="41" data-value="fr" data-english="French">
                                            <span class="description">Français</span>
                                            French
                                        </div>
                                        <div class="item" data-percent="37" data-value="el" data-english="Greek">
                                            <span class="description">ελληνικά</span>
                                            Greek
                                        </div>
                                        <div class="item" data-percent="37" data-value="ru" data-english="Russian">
                                            <span class="description">Русский</span>
                                            Russian
                                        </div>
                                        <div class="item" data-percent="36" data-value="de" data-english="German">
                                            <span class="description">Deutsch</span>
                                            German
                                        </div>
                                        <div class="item" data-percent="23" data-value="it" data-english="Italian">
                                            <span class="description">Italiano</span>
                                            Italian
                                        </div>
                                        <div class="item" data-percent="21" data-value="nl" data-english="Dutch">
                                            <span class="description">Nederlands</span>
                                            Dutch
                                        </div>
                                        <div class="item" data-percent="19" data-value="pt_BR"
                                            data-english="Portuguese">
                                            <span class="description">Português(BR)</span>
                                            Portuguese
                                        </div>
                                        <div class="item" data-percent="17" data-value="id" data-english="Indonesian">
                                            <span class="description">Indonesian</span>
                                            Indonesian
                                        </div>
                                        <div class="item" data-percent="12" data-value="lt" data-english="Lithuanian">
                                            <span class="description">Lietuvių</span>
                                            Lithuanian
                                        </div>
                                        <div class="item" data-percent="11" data-value="tr" data-english="Turkish">
                                            <span class="description">Türkçe</span>
                                            Turkish
                                        </div>
                                        <div class="item" data-percent="10" data-value="kr" data-english="Korean">
                                            <span class="description">한국어</span>
                                            Korean
                                        </div>
                                        <div class="item" data-percent="7" data-value="ar" data-english="Arabic">
                                            <span class="description">العربية</span>
                                            Arabic
                                        </div>
                                        <div class="item" data-percent="6" data-value="hu" data-english="Hungarian">
                                            <span class="description">Magyar</span>
                                            Hungarian
                                        </div>
                                        <div class="item" data-percent="6" data-value="vi" data-english="Vietnamese">
                                            <span class="description">tiếng Việt</span>
                                            Vietnamese
                                        </div>
                                        <div class="item" data-percent="5" data-value="sv" data-english="Swedish">
                                            <span class="description">svenska</span>
                                            Swedish
                                        </div>
                                        <div class="item" data-precent="4" data-value="pl" data-english="Polish">
                                            <span class="description">polski</span>
                                            Polish
                                        </div>
                                        <div class="item" data-percent="6" data-value="ja" data-english="Japanese">
                                            <span class="description">日本語</span>
                                            Japanese
                                        </div>
                                        <div class="item" data-percent="0" data-value="ro" data-english="Romanian">
                                            <span class="description">românește</span>
                                            Romanian
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="footer_bottm">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="fotb_left">
                                    <li>
                                        <a href="index.html">
                                            <div class="footer_logo">
                                                <img src="/images/logo1.svg" alt="">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <p>© 2020 <strong>Cursus</strong>. All Rights Reserved.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="edu_social_links">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
