<!DOCTYPE html>
<html>

<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:49:44 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=9">
  <meta name="description" content="Gambolthemes">
  <meta name="author" content="Gambolthemes">
  <title>Online Academy</title>

  <!-- Favicon Icon -->
  <link rel="icon" type="image/png" href="/images/fav.png">

  <!-- Stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
  <link href='/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
  <link href="/css/vertical-responsive-menu.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <link href="/css/night-mode.css" rel="stylesheet">
  <link href="/css/searchbar.css" rel="stylesheet">

  <!-- Vendor Stylesheets -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
  <link href="/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/vendor/semantic/semantic.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">

  {{{_sections.css}}}

  <script>
    document.documentElement.className += ' night-mode';
  </script>

</head>

<body>
  <!-- Header Start -->
  <header class="header clearfix">
    <button type="button" id="toggleMenu" class="toggle_menu">
      <i class='uil uil-bars'></i>
    </button>
    <button id="collapse_menu" class="collapse_menu">
      <i class="uil uil-bars collapse_menu--icon "></i>
      <span class="collapse_menu--label"></span>
    </button>
    <div class="main_logo" id="logo">

      <a href="/"><img class="logo-inverse" src="/images/ct_logo.svg" alt=""></a>
    </div>


    <div class="search120">
      <div class="ui search">
        <div class=" ui left icon input swdh10 " style=" height: 42px;">
          <input id="search" class="prompt srch10" type="search" placeholder="Search for anything" {{#if this.isSearch}}
            value='{{this.search}}' {{/if}}>
          <i class="uil fas fa-search icon icon1"></i>
        </div>
      </div>
    </div>


    <div class="header_right">
      <ul>
        {{#if isTeacher}}
        <li>
          <a href="/teacher/create_course" class="upload_btn">Create New Course</a>
        </li>
        {{/if}}
        <li>
          <a href="/" class="option_links"><i class='uil uil-home-alt'></i><span class="noti_count">9+</span></a>
        </li>
        <li class="ui dropdown">
          <a href="#" class="option_links"><i class='uil uil-envelope-alt'></i><span class="noti_count">3</span></a>
          <div class="menu dropdown_ms">
            <a href="#" class="channel_my item">
              <div class="profile_link">
                <img src="/images/left-imgs/img-6.jpg" alt="">
                <div class="pd_content">
                  <h6>Zoena Singh</h6>
                  <p>Hi! Sir, How are you. I ask you one thing please explain it this video price.</p>
                  <span class="nm_time">2 min ago</span>
                </div>
              </div>
            </a>
            <a href="#" class="channel_my item">
              <div class="profile_link">
                <img src="/images/left-imgs/img-5.jpg" alt="">
                <div class="pd_content">
                  <h6>Joy Dua</h6>
                  <p>Hello, I paid you video tutorial but did not play error 404.</p>
                  <span class="nm_time">10 min ago</span>
                </div>
              </div>
            </a>
            <a href="#" class="channel_my item">
              <div class="profile_link">
                <img src="/images/left-imgs/img-8.jpg" alt="">
                <div class="pd_content">
                  <h6>Jass</h6>
                  <p>Thanks Sir, Such a nice video.</p>
                  <span class="nm_time">25 min ago</span>
                </div>
              </div>
            </a>
            <a class="vbm_btn" href="instructor_messages.html">View All <i class='uil uil-arrow-right'></i></a>
          </div>
        </li>
        <li class="ui dropdown">
          <a href="#" class="option_links"><i class='uil uil-bell'></i><span class="noti_count">3</span></a>
          <div class="menu dropdown_mn">
            <a href="#" class="channel_my item">
              <div class="profile_link">
                <img src="/images/left-imgs/img-1.jpg" alt="">
                <div class="pd_content">
                  <h6>Rock William</h6>
                  <p>Like Your Comment On Video <strong>How to create sidebar menu</strong>.</p>
                  <span class="nm_time">2 min ago</span>
                </div>
              </div>
            </a>
            <a href="#" class="channel_my item">
              <div class="profile_link">
                <img src="/images/left-imgs/img-2.jpg" alt="">
                <div class="pd_content">
                  <h6>Jassica Smith</h6>
                  <p>Added New Review In Video <strong>Full Stack PHP Developer</strong>.</p>
                  <span class="nm_time">12 min ago</span>
                </div>
              </div>
            </a>
            <a href="#" class="channel_my item">
              <div class="profile_link">
                <img src="/images/left-imgs/img-9.jpg" alt="">
                <div class="pd_content">
                  <p> Your Membership Approved <strong>Upload Video</strong>.</p>
                  <span class="nm_time">20 min ago</span>
                </div>
              </div>
            </a>
            <a class="vbm_btn" href="instructor_notifications.html">View All <i class='uil uil-arrow-right'></i></a>
          </div>
        </li>


        {{#if auth}}
        <li class="ui dropdown">
          <a href="#" class="opts_account">
            {{#if isStudent}}
            <img src="{{authUser.link_ava_student}}" alt="avatar" style="background-color: white; border-color: white;">
            {{else if isTeacher}}
            <img src="{{authUser.link_ava_teacher}}" alt="avatar" style="background-color: white; border-color: white;">
            {{else if isAdmin}}
            <img src="https://cdn0.iconfinder.com/data/icons/management-1/100/business-05-512.png" alt="avatar"
              style="background-color: white; border-color: white;">
            {{/if}}
          </a>
          <div class="menu dropdown_account">
            <div class="channel_my">
              <div class="profile_link">
                {{#if isStudent}}
                <img src="{{authUser.link_ava_student}}" alt="avatar">
                {{else if isTeacher}}
                <img src="{{authUser.link_ava_teacher}}" alt="avatar">
                {{else if isAdmin}}
                <img src="https://cdn0.iconfinder.com/data/icons/management-1/100/business-05-512.png" alt="avatar"
                  style="background-color: white; border-color: white;">
                {{/if}}
                <div class="pd_content">
                  <div class="rhte85">
                    {{#if isAdmin}}
                    <h6>Administrator</h6>
                    {{else}}
                    <h6>{{authUser.fname}} {{authUser.lname}}</h6>
                    {{/if}}
                    <div class="mef78" title="Verify">
                      <i class='uil uil-check-circle'></i>
                    </div>
                  </div>
                  <span>{{authUser.email}}</span>
                </div>
              </div>
            </div>
            {{#if isAdmin}}
            <a href="/admin/specifications" class="item channel_item">Manage Specifications</a>
            <a href="/admin/accounts" class="item channel_item">Manage Accounts</a>
            {{else if isStudent}}
            <a href="/student/info" class="item channel_item">View Profile</a>
            <a href="/student/registeredcourses" class="item channel_item">My Courses</a>
            <a href="/student/watchlist" class="item channel_item">Watch List</a>
            {{else if isTeacher}}
            <a href="/teacher/info" class="item channel_item">View Profile</a>
            <a href="/teacher/mycourse" class="item channel_item">My Courses</a>
            {{/if}}


            <form id="frmLogout" action="/account/logout" method="POST"></form>
            <a href="javascript: $('#frmLogout').submit();" class="item channel_item">Logout</a>
          </div>
        </li>
        {{else}}
        <li>
          <a href="/account/login" class="upload_btn">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </header>
  <!-- Header End -->

  <!-- Left Sidebar Start -->
  <nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
      <div class="left_section">
        <ul>
          <li class="menu--item">
            <a href="/" class="menu--link" title="Home">
              <i class='uil uil-home-alt menu--icon'></i>
              <span class="menu--label">Home</span>
            </a>
          </li>

          {{!-- CATEGORY --}}
          <li class="menu--item  menu--item__has_sub_menu">
            <label class="menu--link mb-0" title="Tests">
              <i class='uil uil-clipboard-alt menu--icon'></i>
              <span class="menu--label">Categories</span>
            </label>
            {{!-- cat level 1 --}}
            {{#each this.lcSpec}}
            <ul class="sub_menu">
              <li class="sub_menu--item">

                <a href="/courses/{{name}}" class="sub_menu--link" style="font-weight: bold; font-size: 11pt"><i
                    class="fas fa-caret-right"></i> {{name}}</a>
                {{!-- cat level 2 --}}
                {{#each spec}}
                <a href="/courses/{{../name}}/{{spec_name}}" class="sub_menu--link offset-md-1"> {{{icon}}}
                  <span style="margin-left: 5px;">{{spec_name}}</span></a>
                {{/each}}
                {{!-- cat level 2 --}}
              </li>
            </ul>
            {{!-- cat level 1 --}}
            {{/each}}
          </li>

          {{#if isStudent}}
          <li class="menu--item">
            <a href="/student/info" class="menu--link" title="My Courses">
              <i class="uil uil-user-circle menu--icon"></i>
              <span class="menu--label">Personal Info</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="/student/registeredcourses" class="menu--link" title="My Courses">
              <i class="uil uil-book-alt menu--icon"></i>
              <span class="menu--label">My Courses</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="/student/watchlist" class="menu--link" title="Watch List">
              <i class="uil uil-heart-alt menu--icon"></i>
              <span class="menu--label">Watch List</span>
            </a>
          </li>
          {{else if isTeacher}}
          <li class="menu--item">
            <a href="/teacher/info" class="menu--link" title="My Courses">
              <i class="uil uil-user-circle menu--icon"></i>
              <span class="menu--label">Personal Info</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="/teacher/mycourse" class="menu--link" title="My Courses">
              <i class="uil uil-book-alt menu--icon"></i>
              <span class="menu--label">My Courses</span>
            </a>
          </li>

          {{else if isAdmin}}
          <li class="menu--item">
            <a href="/admin/accounts" class="menu--link" title="My Courses">
              <i class="uil uil-users-alt menu--icon"></i>
              <span class="menu--label">Manage Accounts</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="/admin/specifications" class="menu--link" title="My Courses">
              <i class="uil uil-bright menu--icon"></i>
              <span class="menu--label">Manage Specifications</span>
            </a>
          </li>
          {{else}}
          <li class="menu--item">
            <a href="/account/login" class="menu--link" title="My Courses">
              <i class="uil uil-book-alt menu--icon"></i>
              <span class="menu--label">My Courses</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="/account/login" class="menu--link" title="Watch List">
              <i class="uil uil-heart-alt menu--icon"></i>
              <span class="menu--label">Watch List</span>
            </a>
          </li>
          {{/if}}


          <li class="menu--item  menu--item__has_sub_menu">
            <label class="menu--link" title="Pages">
              <i class='uil uil-file menu--icon'></i>
              <span class="menu--label">Pages</span>
            </label>
            <ul class="sub_menu">
              <li class="sub_menu--item">
                <a href="about_us.html" class="sub_menu--link">About</a>
              </li>
              <li class="sub_menu--item">
                <a href="sign_in.html" class="sub_menu--link">Sign In</a>
              </li>
              <li class="sub_menu--item">
                <a href="sign_up.html" class="sub_menu--link">Sign Up</a>
              </li>
              <li class="sub_menu--item">
                <a href="sign_up_steps.html" class="sub_menu--link">Sign Up Steps</a>
              </li>
              <li class="sub_menu--item">
                <a href="membership.html" class="sub_menu--link">Paid Membership</a>
              </li>
              <li class="sub_menu--item">
                <a href="course_detail_view.html" class="sub_menu--link">Course Detail View</a>
              </li>
              <li class="sub_menu--item">
                <a href="checkout_membership.html" class="sub_menu--link">Checkout</a>
              </li>
              <li class="sub_menu--item">
                <a href="invoice.html" class="sub_menu--link">Invoice</a>
              </li>
              <li class="sub_menu--item">
                <a href="career.html" class="sub_menu--link">Career</a>
              </li>
              <li class="sub_menu--item">
                <a href="apply_job.html" class="sub_menu--link">Job Apply</a>
              </li>
              <li class="sub_menu--item">
                <a href="our_blog.html" class="sub_menu--link">Our Blog</a>
              </li>
              <li class="sub_menu--item">
                <a href="blog_single_view.html" class="sub_menu--link">Blog Detail View</a>
              </li>
              <li class="sub_menu--item">
                <a href="company_details.html" class="sub_menu--link">Company Details</a>
              </li>
              <li class="sub_menu--item">
                <a href="press.html" class="sub_menu--link">Press</a>
              </li>
              <li class="sub_menu--item">
                <a href="live_output.html" class="sub_menu--link">Live Stream View</a>
              </li>
              <li class="sub_menu--item">
                <a href="add_streaming.html" class="sub_menu--link">Add live Stream</a>
              </li>
              <li class="sub_menu--item">
                <a href="search_result.html" class="sub_menu--link">Search Result</a>
              </li>
              <li class="sub_menu--item">
                <a href="thank_you.html" class="sub_menu--link">Thank You</a>
              </li>
              <li class="sub_menu--item">
                <a href="coming_soon.html" class="sub_menu--link">Coming Soon</a>
              </li>
              <li class="sub_menu--item">
                <a href="error_404.html" class="sub_menu--link">Error 404</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="left_section">
        <h6 class="left_title">SUBSCRIPTIONS</h6>
        <ul>
          <li class="menu--item">
            <a href="instructor_profile_view.html" class="menu--link user_img">
              <img src="/images/left-imgs/img-1.jpg" alt="">
              Rock Smith
              <div class="alrt_dot"></div>
            </a>
          </li>
          <li class="menu--item">
            <a href="instructor_profile_view.html" class="menu--link user_img">
              <img src="/images/left-imgs/img-2.jpg" alt="">
              Jassica William
            </a>
            <div class="alrt_dot"></div>
          </li>
          <li class="menu--item">
            <a href="all_instructor.html" class="menu--link" title="Browse Instructors">
              <i class='uil uil-plus-circle menu--icon'></i>
              <span class="menu--label">Browse Instructors</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="left_section pt-2">
        <ul>
          <li class="menu--item">
            <a href="setting.html" class="menu--link" title="Setting">
              <i class='uil uil-cog menu--icon'></i>
              <span class="menu--label">Setting</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="help.html" class="menu--link" title="Help">
              <i class='uil uil-question-circle menu--icon'></i>
              <span class="menu--label">Help</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="report_history.html" class="menu--link" title="Report History">
              <i class='uil uil-windsock menu--icon'></i>
              <span class="menu--label">Report History</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="feedback.html" class="menu--link" title="Send Feedback">
              <i class='uil uil-comment-alt-exclamation menu--icon'></i>
              <span class="menu--label">Send Feedback</span>
            </a>
          </li>
        </ul>
      </div>
  </nav>
  <!-- Left Sidebar End -->

  <!-- Body Start -->
  {{{body}}}
  <!-- Body End -->

  <!-- Footer Start -->

  <!-- Footer End -->

  <script src="/js/vertical-responsive-menu.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/OwlCarousel/owl.carousel.js"></script>
  <script src="/vendor/semantic/semantic.min.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/night-mode.js"></script>
  <script src="https://kit.fontawesome.com/03b4109405.js" crossorigin="anonymous"></script>

  {{!-- Alert --}}


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>

  <script>
    $('document').ready(function () {
      $('#search').keypress(function (e) {
        if (e.which == 13) {
          var search = $('#search').val();
          window.location.replace('/courses/?search=' + search);
        }
      });

    });
  </script>

  {{{_sections.js}}}

</body>

</html>
